{% extends 'base.html' %}
{% block title %}

Login! - TheBank

{% endblock title %}

{% block content %}

<header>
    <nav><a href="{% url 'home'  %}">Main Page</a></nav>
</header>

<main>
    <h1>Login!</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{form.as_p }}
            <button>Login</button>
        </form>
    </div>
</main>
{% endblock content %}
